.content {
    text-align: left;
    text-indent: 1em;
}

.comment {
    margin-left: 5px;
}

.li {
    list-style: none;
    transition: background-color 0.13s linear;
}

li:hover{
    background-color: #f1f7fd;
}