* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 960px;
  margin: 0 auto;

}

.Head {
  font-size: 80px;
  margin: 0;
}

.Info {
  text-align: left;
  font-size: 18px;
  text-indent: 2em;
}