* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 960px;
  margin: 0 auto;
  color: #1890ff;

}

.Head {
  font-size: 80px;
  margin: 0;
  color: #1890ff;
}

.Info {
  text-align: right;
  font-size: 24px;
  margin-top: 20px;
  margin-right: 30px;
}

.footer {
  margin-top: 150px;
}